@model Book
@{
    ViewData["Title"] = (Model.BookId == 0) ? "Add Book" : "Edit Book"; 
}
<h2>@ViewData["Title"]</h2> 

<form asp-action="Save" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Book Title</label>
        <input asp-for="Title" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label asp-for="AuthorId" class="control-label">Author ID</label>
        <input asp-for="AuthorId" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="YearPublished" class="control-label">Published Year</label>
        <input asp-for="YearPublished" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="ISBN" class="control-label">ISBN</label>
        <input asp-for="ISBN" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="LibraryBranchId" class="control-label">BranchName</label>
        <select asp-for="LibraryBranchId" class="form-control" asp-items="ViewBag.LibraryBranch"></select>
    </div>
    
    <input type="hidden" asp-for="BookId"/>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure to submit ?');"
                style="margin-top: 10px">Submit
        </button>
        <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-secondary ms-2" style="margin-top: 10px;">Cancel</a>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

